<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Usuario</title>
    <link rel="stylesheet" href="../Css/actualizar_usu.css">
</head>
<body>
    <div class="form">
        <h2>Actualizar:</h2>
        <div class="form">
            <form id="form contenedor2" class="form">
                <div class="contenedor-input">
                    <h3>Consultar:</h3>
                    <label>
                        Nombre <span>:</span>
                    </label>
                    <input type="text" id="dato1">
                </div>
                <button  id="consulta">Consultar</button>
                    <div class="txt" id="exito"></div>
                    <div class="txt" id="error"></div>
            </form>

        <form id="contenedor" class="form">
            <div class="contenedor-input">
                <label for="id">ID</label>
                <input type="text" id="idu" name="idu" placeholder="ID">
            </div>
            <div class="contenedor-input">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombreu" name="nombreu" placeholder="Nombre">
            </div>
            <div class="contenedor-input">
                <label for="descripcion">Usuario</label>
                <input type="text" id="usuariou" name="usuariou" placeholder="Usuario">
            </div>
            <div class="contenedor-input">
                <label for="cantidad">Correo</label>
                <input type="text" id="correou" name="correou" placeholder="Correo">
            </div>
            <div class="contenedor-input">
                <label for="precio">Rol</label>
                <input type="text" id="rolu" name="rolu" placeholder="Rol">
            </div>
            <button type="submit" id="actualizar">Actualizar</button>
        </form>
    </div>
    <script type="module" src="../Js/actualziar_usu.js"></script>
</body>
</html>