<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ejemplo basiquito</h1>
    <Table>
        <th>
            <td>Empresa</td>
            <td>Direccion</td>
            <td>Correo</td>
            <td>Bomba</td>
        </th>
        <tr>
            <td>Empresa 1</td>
            <td>Direccion 1</td>
            <td>Correo 1</td>
            <td>Bomba De Mercurio</td>
        </tr>
    </Table>
</body>
</html>