<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css/login.css">
</head>
<body>
    <div class="login-page">
<div class="form">
    <form id="form" class="login-form">
        <input id="usuario" name="usuario" type="text" placeholder="Usuario"/>
        <input id="password" name="password" type="password" placeholder="Password"/>
        <button id="loguear">login</button>
        <a class="enlaces" id="registro_usu">
            <button type="button" id="registroUsu" class="item_menu" data-value="registroUsu">Registrarse</button>
        </a>
    </form>
</div>
</div>



<script type="module" src="Js/login.js"></script>
</body>
</html>