<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/indice_admin.css">
</head>
<body>
    <div class="login-page">
<div class="form">
        <h2>BIENVENIDO ADMIN</h2>
    <form id="form" class="login-form">

        <a>
        <button type="button" id="consulta" class="item_menu" data-value="consultarUsu">Consultar Usuario</button>
        </a>    

        <a>
        <button type="button" id="actualziar" class="item_menu" data-value="actualizarUsu">Actualizar Usuario</button>
        </a>

        <a>
        <button type="button" id="eliminar" class="item_menu" data-value="eliminarUsu">Eliminar Usuario</button>
        </a>

    </form>
</div>
</div>

<script type="module" src="../Js/indice_admin.js"></script>
</body>
</html>