<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/indice.css">
</head>
<body>
    <div class="login-page">
<div class="form">
        <h2>BIENVENIDO USUARIO</h2>
    <form id="form" class="login-form">

        <button class="item_menu" type="button" id="consulta" data-value="consultar">Consultar producto</button>
        
        <button class="item_menu" type="button" id="registro" data-value="registrar">Registrar producto</button>
            
        <button class="item_menu" type="button" id="actualziar" data-value="actualizar">Actualizar producto</button>
    
        <button class="item_menu" type="button" id="eliminar" data-value="eliminar">Eliminar producto</button>

        <button class="item_menu" type="button" id="listar" data-value="listar">Listar Productos</button>
        

    </form>
</div>
</div>

<script type="module" src="../Js/indice.js"></script>
</body>
</html>