<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../Css/listar_pro.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h2></h2>
        <div>
            <form action="">
                <div>
                    <div>
                        <button type="button" id="listar">Listar productos</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="infoget" class="">
            <table id="tablaDatos">
                <thead>
                    <tr id="encabezados">
                        <th scope="col">Id: </th>
                        <th scope="col">Nombre: </th>
                        <th scope="col">Descripcion: </th>
                        <th scope="col">Precio: </th>
                        <th scope="col">Cantidad: </th>
                    </tr>
                </thead>
                <tbody id="tbodyDatos">

                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <script src="../Js/scriptdatatables.js"></script>
</body>
</html>